<!DOCTYPE html>
<html>
    <head>
        <h1> Let's Play! </h1>
    </head>

    <body>
        <form>
            person:
            <input type="text" name="person"><br>
        </form>
        
        <form>
            color:
            <input type="checkbox" name="color" value="red"> <label>red</label>
            <input type="checkbox" name="color" value="blue"> <label>blue</label>
            <input type="checkbox" name="color" value="pink"> <label>pink</label><br>
        </form>
        
        <form>
            noun:
            <select name="noun">
                <option value="apple">Apple</option>
                <option value="banana">Banana</option>
                <option value="avocado">Avocado</option>
            </select>
        </form>

        <form>
            adjective:
            <input type="radio" name="adjective" value="small"><label>Small</label>
            <input type="radio" name="adjective" value="large"><label>Large</label>
        </form>

        <button type= "submit">Submit</button>

    </body>
</html>
